{% load static %}

<section class="d-flex pt-5 pb-0 h-100 px-3 bg-primary">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col" id="on_sale">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><span class="text-primary fw-bold">3</span> camisetas por</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title fw-bold"><span class="text-primary">$109.900</span></h1></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Envío gratis al 90% del país</li>
                  <li>Pago contra entrega</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary"><b>COMPRAR</b></button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><span class="text-primary fw-bold">6</span> camisetas por</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title fw-bold"><span class="text-primary">$192.900</span></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Envío gratis al 100% del país</li>
                  <li>Pago contra entrega</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary"><b>COMPRAR</b></button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><span class="text-primary fw-bold">12</span> camisetas por</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title fw-bold"><span class="text-primary">$339.900</span></h1></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Envío gratis al 100% del país</li>
                  <li>Pago contra entrega</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary"><b>COMPRAR</b></button>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>